[Unit]
Description=Timelapse service

[Service]
ExecStart=/usr/bin/python3 /home/pi/camera.timelapse/camera.timelapse.py --delayStart 180
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=Camera Timelapse
User=pi

[Install]
WantedBy=multi-user.target
